#w1{
    font-size: 30px;
    color: burlywood;
    text-align: left;
}
#w2{
    font-size: 30px;
    color: burlywood;
    text-align: left;
}
#w3{
    font-size: 30px;
    color: black;
    text-align: left;
}
#w5{
    font-size: 5px;
    color: aliceblue;
}
#w4 {
    font-size: 15px;
    color: aquamarine;
}
#w6{
    font-size: 30px;
    text-align: left;
}
.w7{
    font-size: 15px;
    color: antiquewhite;
}

